:root{

    --mainGreen: #264d00;
    overflow-x:hidden;
}

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header section */

.headerNAV {

    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--mainGreen);
    color: #ffffff;

    display: inline-block;
    font-size: 48px;
    display: flex;

    justify-content: space-between;
    width: 100%;
}

#headerName {

    font-size: 5vw; 
}

.headerNAV div{

    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.headerNAV div ul {

    list-style-type: none;
    font-size: 25px;
}

.headerNAV div ul li {

    display: inline-block;
    margin-left: 25px;
}

/* main photo  */

.mainPhoto {

    height: 500px;
    width: 105%;
    margin-bottom: 25px;
    background-image: url("../assets/headShotTest.JPG");
    background-size: cover;
    background-position: right;
}

/* three content sections */

.content {

    width: 90%; /*used to be 75%*/
    display: inline-block;
    margin-left: 20px;
}

.about-me {

    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 50px;
    /* max-height: 1000px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--mainGreen);
    color: #ffffff;
}

.about-me h2{

    font-size: 150%;
    margin-bottom: 20px;
}

.about-me p{

    line-height: 150%;
}

.my-work {

    margin-bottom: 20px;
    padding: 50px;
    max-height: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--mainGreen);
    color: #ffffff;
}

/* work and projects  */

.my-work h2{

    font-size: 200%;
    margin-bottom: 20px;
}

.projectPhotos {

    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    padding: 5px;
    border-width: 5px;
  }

.projectPhotos img{

    flex-wrap: wrap;
    max-width: 25%;
    margin: 10px 10px 10px 10px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 20%;
    left: 30%;
    font-size: 2vw;
    background-color: #514948;
    border-style: solid;
    border-color: white
    
  }

#project1{

    width: 50%;
    text-align: center;
    position: relative;
    
}


#project1:hover{
    opacity: .8;

}

#project2:hover{
    opacity: .8;
}

#project3:hover{
    opacity: .8;
}

#project4:hover{
    opacity: .8;
}

/* contact info section  */

.contact-me {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--mainGreen);
    color: #ffffff;
}

.contact-me h2{

    font-size: 200%;
    margin-bottom: 50px;
}

.contact-links{

    font-size: 175%;
    
    
}

/* footer section  */

.footer {

    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* link tag design  */

a {

    color: #ffffff;
    text-decoration: none; 
    font-size: 1em;

}

a:hover{

    color: #061306;
}



